## Spark DataFrame Basic

In [1]:
from pyspark.sql import SparkSession

In [2]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [3]:
# start session
spark = SparkSession.builder.appName('Basics').getOrCreate()

#### Loading json data and changing schema

In [13]:
# read data from json file
path = 'original/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json'
df = spark.read.json(path)

In [5]:
# show data
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
#show dataFrame schema
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
# get list of columns names
df.columns

['age', 'name']

In [9]:
# Numeric statistics of columns
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [10]:
# Change age column to be int anf name to be string, True means that Null values are allowed
data_schema = [StructField('age', IntegerType(), True),
               StructField('name', StringType(), True)] 

final_struc = StructType(fields=data_schema)

In [11]:
# read data with created schema
df = spark.read.json(path, schema=final_struc)

In [12]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

#### Basic operations on DataFrame

In [19]:
# returns column object
df['age']

Column<b'age'>

In [20]:
# returns DataFrame with selected column
df.select('age')

DataFrame[age: bigint]

In [21]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [25]:
# Returns list of row objects
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [27]:
# Select multiples columns
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [30]:
# create new column
df.withColumn('double_age', df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [32]:
# rename column
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [35]:
# Create Temporary View to work on DataFrame with sql language
df.createOrReplaceTempView('people')

In [38]:
results = spark.sql("SELECT * FROM people WHERE age > 20")

In [40]:
results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+